.song-controls {
  border: 1px solid;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 0.25rem 1.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  background-color: #3c3c3c;

  .control-icon {
    display: flex;
    cursor: pointer;
    color: azure;
    font-size: 1.5rem;
  }

  .control-icon:hover {
    scale: 1.075;
  }

  .record {
    width: 1.25rem;
  }

  .record-playing {
    animation: rotate 1.5s linear infinite;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}
