.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid;
  border-radius: 5px;

  .skills-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    padding: 1.5rem;
  }

  .skill-icon-container {
    perspective: 1000px;

    .skill-icon-inner-container {
      height: 5rem;
      width: 5rem;
      position: relative;
      transform-style: preserve-3d;
    }

    .skill-icon-front,
    .skill-icon-back {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden;
      cursor: pointer;
    }

    .skill-icon-back {
      transform: rotateY(180deg);
    }
  }

  .react-icon {
    animation: spin infinite 8s linear;
  }

  .react-icon:hover {
    animation-duration: 4s;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
