.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;

  .skills-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    padding: 1.5rem;
  }

  .skill-icon {
    font-size: 6rem;
  }

  @media screen and (max-width: 1725px) {
    .skill-icon {
      font-size: 4.5rem;
    }
  }

  @media screen and (max-width: 1400px) {
    .skill-icon {
      font-size: 3rem;
    }
  }

  .skill-icon-container {
    perspective: 1000px;

    .skill-icon-inner-container {
      height: 5rem;
      width: 5rem;
      position: relative;
      transform-style: preserve-3d;
    }

    .skill-icon-front,
    .skill-icon-back {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden;
      cursor: pointer;
    }

    .skill-icon-back {
      transform: rotateY(180deg);
    }
  }

  .react-icon {
    animation: spin infinite 8s linear;
  }

  .react-icon:hover {
    animation-duration: 4s;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.skill-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .skill-modal-card {
    width: 40rem;
    background-color: rgb(243, 235, 218);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .skill-modal-card-heading {
    border-bottom: 1px solid;

    .skill-modal-card-header-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .skill-modal-card-header-title {
      border-left: 1px solid;
      padding-left: 1rem;
      margin: 0;
      margin-left: 0.25rem;
    }

    .modal-close-button {
      cursor: pointer;
    }
  }

  .content-list-item {
    margin-bottom: 1rem;
  }

  .skill-modal-card-content,
  .skill-modal-card-actions {
    padding: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .skill-modal-card {
    overflow-y: auto;
  }

  .skill-modal-card-content-heading {
    font-size: 0.9rem;
  }

  .content-list {
    font-size: 0.8rem;
  }
}
