.navigation-container {
  margin-top: 4rem;

  .navigation {
    background-color: inherit;

    .nav-icon {
      color: black;
      font-size: 2.5rem;
    }

    :global(.Mui-selected, .MuiSvgIcon-root) {
      color: pink;
    }

    :global(.Mui-selected) {
      color: pink;
    }

    @media (max-width: 1400px) {
      .nav-icon {
        font-size: 1.5rem;
      }
    }
  }
}
