.volume-div {
  position: relative;
  margin-left: 0.25rem;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.795), 10px 20px 25px;
  border: 1px solid #0004;
  border-radius: 50px;
  overflow: hidden;
}

.volume-div::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  background-image: url(../../../assets/Vinyl.png);
  background-size: cover;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.4);
}

div.volume-div:hover {
  cursor: pointer;
  scale: 1.025;
  outline: 2px solid #00ff00;
}

div.volume-div:active {
  scale: 0.95;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.record-playing {
  animation: rotate 1.5s linear infinite;
  box-shadow: none;
}

@media (max-width: 1400px) {
  .volume-div {
    width: 3.75rem;
    height: 3.75rem;
  }
}
