.content-div {
  height: 100%;
  padding: 1.5rem;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(119, 165, 173, 0.801);
  font-size: 1.25rem;
  line-height: 1.5;
  overflow-y: auto;
}

@media screen and (max-width: 1720px) {
  .content-div {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 1400px) {
  .content-div {
    font-size: 0.9rem;
  }
}

.stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
