.keyboard {
  height: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 2rem;
  background-color: #3c3c3c;
  overflow: hidden;
  cursor: grab;

  :active {
    cursor: grabbing;
  }

  .keyboard-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 2px solid;
    margin-right: 0.5rem;
    padding-right: 0.25rem;
    white-space: nowrap;
    max-width: 35rem;
    overflow: hidden;
  }

  .keyboard-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
  }

  .key:hover {
    cursor: pointer;
  }

  .key {
    margin-right: 0.5rem;
  }

  .row {
    margin: 0.25rem 0;
  }

  .volume-row {
    display: flex;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 2px solid;
  }
}

.key {
  position: relative;
  display: inline-block;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 10px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.795), 10px 20px 25px;
  overflow: hidden;
}

.key::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 8px;
  right: 10px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.4);
  border: 2px solid #0004;
  border-radius: 10px;
}

.highlight {
  background: linear-gradient(180deg, #f00, #680404);
}

.highlight::before {
  background: linear-gradient(90deg, #d20000, #ffffff41);
}

.light {
  background: linear-gradient(180deg, #949494, #4e4e4e);
}

.light::before {
  background: linear-gradient(90deg, #6d6d6d, #878787);
}

.enter-key {
  width: 12rem;
}

.shift-key {
  width: 14rem;
}

.backspace-key {
  width: 10rem;
}

.f8-key-container {
  border-right: 2px solid;
  margin-right: 0.75rem;
  padding-right: 0.25rem;
}

.key-content {
  position: relative;
  top: 1.5rem;
  right: 2px;
  z-index: 1;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: fit-content;
}

@media (max-width: 1400px) {
  .keyboard-left {
    width: 25rem;
  }

  .key-content {
    top: 0.9rem;
    font-size: 0.75rem;
  }
  .key {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }

  .enter-key {
    width: 9rem;
  }

  .shift-key {
    width: 10.5rem;
  }

  .backspace-key {
    width: 7.5rem;
  }
}
