* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(38, 60, 69, 0.623);
}

.app {
  height: 100vh;
}

/* Target the scrollbar itself */
::-webkit-scrollbar {
  width: 0.5rem; /* Adjust width as needed */
}

/* Style the scrollbar track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #3c3c3ce8; /* Darker color for the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker on hover */
}
