.page-container {
  height: 100%;
  padding-top: 4rem;

  .page {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    margin: 4rem;

    .me-div {
      border: 2px solid;
      border-radius: 10px;
      width: 30%;
      height: 90%;
      display: flex;
    }

    .content-div {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .me {
      width: 100%;
      border-radius: 10px;
      height: 100%;
    }
  }
}
