.page-container {
  height: 100%;
  padding-top: 4rem;

  .page {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    margin: 4rem;
    margin-bottom: 0;
    height: 85vh;

    .me-div {
      border: 2px solid;
      border-radius: 10px;
      width: 32.5%;
      display: flex;
    }

    .content-div {
      width: 62.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .me {
      width: 100%;
      border-radius: 10px;
      height: 100%;
    }
  }

  @media screen and (max-width: 1800px) {
    .page {
      max-height: 75vh;
    }
  }
}
