.page-container {
  padding-top: 4rem;

  .page {
    margin: 3rem 2rem;

    .me-div {
      border: 2px solid;
      border-radius: 10px;
      display: flex;
    }

    .me {
      width: 100%;
      border-radius: 10px;
      height: 100%;
    }

    .about-me-stack {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .about-me-first-row {
      display: flex;
      column-gap: 1rem;
    }

    .connect-div {
      width: 40%;
    }
  }

  @media screen and (max-width: 1800px) {
    .page {
      max-height: 75vh;
    }
  }
}
